@use "fonts" as *;

 body {
    font-family:$font-primary,sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
            
  h1,h2,h3,h4,h5,h6{
    font-family: $font-bold,sans-serif;
    font-weight: 900;

  }

  img,video,svg {
    max-width: 100%;
    height: auto;
  }
  svg{
    max-height: 100%;
  }
  a {
    text-decoration: none;
   }
 