<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Alerts</title>
</head>
<body class="p-6">
        <!-- Alerts  -->
    <div class="alerts d-flex flex-column gap-2xl">
        <div class="alert alert-red">
          <img src="../assets/images/error.svg" alt="error" />
          <div>
            <h5>Someting wrong</h5>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        <div class="alert alert-yellow">
          <img src="../assets/images/info.svg" alt="info" />
          <div>
            <h5>Need Attention</h5>
            <p>Adipiscing elit, sed do eiusmod</p>
          </div>
        </div>
        <div class="alert alert-green">
          <img src="../assets/images/success.svg" alt="success" />
          <div>
            <h5>Success</h5>
            <p>consectetur adipiscing elit sed</p>
          </div>
        </div>
        <div class="alert alert-blue">
          <img src="../assets/images/checked.svg" alt="check" />
          <div>
            <h5>Other Condition</h5>
            <p>consectetur adipiscing elit sed</p>
          </div>
        </div>
      </div>
</body>
</html>