<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Assign Task</title>
  </head>
  <body class="p-6">
    <!-- Assign to task -->
    <div>
      <!-- Task Assignment -->
      <div class="card shadow d-flex justify-between align-center p-5 m-2-b">
        <div class="d-flex justify-between align-center">
          <svg
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="m-5-r"
          >
            <path
              d="M14 8C16.21 8 18 6.21 18 4C18 1.79 16.21 0 14 0C11.79 0 10 1.79 10 4C10 6.21 11.79 8 14 8ZM5 6V3H3V6H0V8H3V11H5V8H8V6H5ZM14 10C11.33 10 6 11.34 6 14V16H22V14C22 11.34 16.67 10 14 10Z"
              fill="#C4CAD3"
            />
          </svg>
          <span class="fw-lg fs-md letter-spacing-sm line-height-7"
            >Assign task to</span
          >
        </div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 15.713L18.01 9.703L16.597 8.288L12 12.888L7.40399 8.288L5.98999 9.702L12 15.713Z"
            fill="#AFBDD8"
          />
        </svg>
      </div>
      <!-- Search -->
      <div class="card-search shadow bg-white rounded-2 position-relative">
        <div class="top-arrow"></div>
        <div class="p-5-x p-5-t">
          <div
            class="search-bar p-5-x p-2-y w-100 d-flex bg-gray m-2-b rounded-full"
          >
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.5">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.91314 10.8263C8.6266 10.8263 10.8263 8.6266 10.8263 5.91314C10.8263 3.19969 8.6266 1 5.91314 1C3.19969 1 1 3.19969 1 5.91314C1 8.6266 3.19969 10.8263 5.91314 10.8263Z"
                  stroke="#121212"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.71931 9.71888L12.8074 12.807"
                  stroke="#121212"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </svg>
            <input
              class="w-100 m-6-l"
              type="text"
              name="search"
              placeholder="Search everything"
            />
          </div>
        </div>
        <div class="search-results">
          <div
            class="search-result p-5-x d-flex align-center justify-between p-3-y"
          >
            <div class="d-flex align-center gap-xl">
              <img src="../assets/images/angela.svg" alt="Angela" />
              <span class="fs-md fw-lg letter-spacing-sm line-height-7"
                >Angela Smith</span
              >
            </div>
            <p class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7">
              16 task on progress
            </p>
          </div>
          <div
            class="search-result p-5-x active-search d-flex align-center justify-between p-3-y"
          >
            <div class="d-flex align-center gap-xl">
              <img src="../assets/images/karen.svg" alt="Karen" />
              <span class="fs-md fw-lg letter-spacing-sm line-height-7"
                >Karen William</span
              >
            </div>
            <p class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7">
              25 task on progress
            </p>
          </div>
          <div
            class="search-result p-5-x d-flex align-center justify-between p-3-y"
          >
            <div class="d-flex align-center gap-xl">
              <img src="../assets/images/samantha.svg" alt="Samantha" />
              <span class="fs-md fw-lg letter-spacing-sm line-height-7"
                >Samantha William</span
              >
            </div>
            <p class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7">
              35 task on progress
            </p>
          </div>
          <div
            class="search-result p-5-x d-flex align-center justify-between p-3-y"
          >
            <div class="d-flex align-center gap-xl">
              <img src="../assets/images/andy.svg" alt="Andy" />
              <span class="fs-md fw-lg letter-spacing-sm line-height-7"
                >Andy Hope</span
              >
            </div>
            <p class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7">
              12 task on progress
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
