<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <title>Buttons</title>
</head>
<body class="p-6">
        <link rel="stylesheet" href="../assets/css/styles.css">
 <!-- Buttons  -->
 <div class="btns grid-col-3 d-flex flex-column gap-2xl ">
    <button class="btn rounded-2 p-2-y bg-purple text-white fw-lg fs-lg line-height-8 w-100">Normal Button</button>
    <button class="btn rounded-2 p-2-y bg-light-purple text-purple text-white fw-lg fs-lg line-height-8 d-flex justify-center align-center gap-sm w-100">
      <svg
        width="23"
        height="8"
        viewBox="0 0 23 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="4" cy="4" r="4" fill="#7784EE" />
        <circle cx="13.5" cy="4" r="3" fill="#7784EE" />
        <circle cx="21" cy="4" r="2" fill="#7784EE" />
      </svg>

      Loading Button
    </button>
    <button class="btn rounded-2 p-2-y bg-transparent text-purple-2 fw-lg fs-lg line-height-8 border-purple w-100">Secondary Button</button>
  </div>
</body>
</html>