<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Files</title>
</head>
<body class="p-6">
    
    <!-- File Attachment  -->
     <div class="card file">
      <h4 class="fs-xl fw-lg letter-spacing-xs line-height-7 m-7-b">File Attachment</h4>
         <div class="d-flex gap-2xl align-center">
          <img src="../assets/images/pdf.svg" alt="pdf" />
          <div class="w-100">
            <div class="d-flex justify-between m-2-b">
              <h5 class="fs-md fw-lg letter-spacing-xs line-height-6">User-Journey.pdf</h5>
              <span class="fs-sm fw-md letter-spacing-xs line-height-6">4.5MB</span>
              <button class="fs-sm fw-lg letter-spacing-xs line-height-7 bg-transparent border-none cursor-pointer text-gray-3">Cancel</button>
            </div>
            <div class="progress-bar rounded-full m-6-b bg-light-blue">
                <div class="progress-bar-value rounded-full bg-blue"></div>
              </div>
          </div>
        </div>
        <div class="d-flex gap-2xl align-center">
          <img src="../assets/images/xls.svg" alt="xls" />
          <div  class="w-100">
            <div>
              <div class="d-flex justify-between m-2-b">
                <h5 class="fs-md fw-lg letter-spacing-xs line-height-6">Data-Structure.xls</h5>
                <span class="fs-sm fw-md letter-spacing-xs line-height-6">12.4 MB</span>
                <button class="fs-sm fw-lg letter-spacing-xs line-height-7 bg-transparent border-none cursor-pointer text-purple-2">Download</button>
              </div>
              <span class="fs-xs fw-md letter-spacing-xs text-gray-2 line-height-1">Angela Hope</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-value"></div>
            </div>
          </div>
        </div>
     </div> 
</body>
</html>