<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Recent Activity</title>
</head>
<body class="p-6">
      <!-- Recent Activity  -->
      <div class="card shadow">
        <h4 class="fs-2xl fw-lg letter-spacing-xs line-height-9 m-8-b">
          Recent Activity
        </h4>
        <div class="activities">
          <div class="d-flex gap-lg m-7-b align-start">
            <img src="../assets/images/message.svg" alt="Message Icon" />
            <div class="d-flex flex-column">
              <p class="fs-sm fw-lg letter-spacing-sm line-height-4 m-1-b">
                Karen leave some comments on Konsep Ilustrasi
              </p>
              <span
                class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-1"
                >Aug 10</span
              >
            </div>
          </div>
          <div class="d-flex gap-lg m-7-b align-start">
            <img src="../assets/images/pen.svg" alt="Pen Icon" />
            <div class="d-flex flex-column">
              <p class="fs-sm fw-lg letter-spacing-sm line-height-4 m-1-b">
                Karen change project info on Project Homepage
              </p>
              <span
                class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-1"
                >Aug 10</span
              >
            </div>
          </div>
          <div class="d-flex gap-lg align-start">
            <img src="../assets/images/flag.svg" alt="Flag Icon" />
            <div class="d-flex flex-column">
              <p class="fs-sm fw-lg letter-spacing-sm line-height-4 m-1-b">
                Andrea change the due date of Project Homepage
              </p>
              <span
                class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-1"
                >Aug 10</span
              >
            </div>
          </div>
        </div>
      </div>
</body>
</html>