<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Task Progress</title>
</head>
<body class="p-6">
      <!-- Task Progress  -->
      <div class="card shadow">
        <h4 class="fs-xl fw-lg letter-spacing-xs line-height-7 m-5-b">
          Task Progress
        </h4>
        <div class="tasks-progress">
          <div>
            <div class="d-flex justify-between m-1-b">
              <h5 class="fs-sm letter-spacing-xs line-height-5">Copywriting</h5>
              <span class="fs-sm letter-spacing-xs line-height-5">3/8</span>
            </div>
            <div class="progress-bar rounded-full m-6-b bg-light-pink">
              <div class="progress-bar-value rounded-full bg-pink"></div>
            </div>
          </div>
          <div>
            <div class="d-flex justify-between m-1-b">
              <h5 class="fs-sm letter-spacing-xs line-height-5">
                Illustrations
              </h5>
              <span class="fs-sm letter-spacing-xs line-height-5">6/10</span>
            </div>
            <div class="progress-bar rounded-full m-6-b bg-light-green">
              <div class="progress-bar-value rounded-full bg-green"></div>
            </div>
          </div>
          <div>
            <div class="d-flex justify-between m-1-b">
              <h5 class="fs-sm letter-spacing-xs line-height-5">UI Design</h5>
              <span class="fs-sm letter-spacing-xs line-height-5">2/7</span>
            </div>
            <div class="progress-bar rounded-full m-6-b bg-light-blue">
              <div class="progress-bar-value rounded-full bg-blue"></div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>