<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Tasks</title>
</head>
<body class="p-6">
     <!-- Tasks  -->
     <div class="card shadow p-0-r col-12 col-md-6 col-lg-3 ">
        <h4 class="fs-xl fw-lg letter-spacing-xs line-height-7">Tasks</h4>
        <div class="tasks">
          <div
            class="search-result d-flex align-start justify-between p-5-y border-bottom p-7-r"
          >
            <div class="d-flex gap-xl align-start">
                <label class="unchecked-task cursor-pointer" for="task1">
                    <input class="d-none" type="checkbox" id="task1">
                    <img class="unchecked-icon" src="../assets/images/unchecked.svg" alt="unchecked" />
                    <img class="checked-icon" src="../assets/images/checked.svg" alt="checked" />
                  </label>
              <div class="d-flex flex-column">
                <p class="fs-md fw-lg letter-spacing-sm line-height-5">
                  Design Homepage
                </p>
                <span
                  class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7"
                  >Thu, Nov 23</span
                >
              </div>
            </div>
            <img src="../assets/images/angela-sm.svg" alt="Angela" />
          </div>
          <div
            class="search-result d-flex align-start justify-between p-5-y border-bottom p-7-r"
          >
            <div class="d-flex gap-xl align-start">
             <label class="checked-task cursor-pointer" for="task2">
                <input class="d-none" type="checkbox" id="task2">
                <img class="checked-icon" src="../assets/images/checked.svg" alt="Checked Icon">
                <img class="unchecked-icon" src="../assets/images/unchecked.svg" alt="Unchecked Icon">
             </label>
              <div class="d-flex flex-column">
                <p class="fs-md fw-lg letter-spacing-sm line-height-5">
                  Sketsa Ilustrasi
                </p>
                <span
                  class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7"
                  >Mon, Nov 15</span
                >
              </div>
            </div>
            <img src="../assets/images/karen-sm.svg" alt="karen" />
          </div>
          <div
            class="search-result d-flex align-start justify-between p-5-t p-7-r"
          >
            <div class="d-flex gap-xl align-start">
                <label class="unchecked-task cursor-pointer" for="task3">
                    <input class="d-none" type="checkbox" id="task3">
                    <img class="unchecked-icon" src="../assets/images/unchecked.svg" alt="unchecked" />
                    <img class="checked-icon" src="../assets/images/checked.svg" alt="checked" />
                  </label>
              <div class="d-flex flex-column">
                <p class="fs-md fw-lg letter-spacing-sm line-height-5">
                  Onboarding Design
                </p>
                <span
                  class="fs-sm fw-md letter-spacing-xs text-gray-2 line-height-7"
                  >Wed, Nov 15</span
                >
              </div>
            </div>
            <img src="../assets/images/samantha-sm.svg" alt="samantha-sm.svg" />
          </div>
        </div>
      </div>
</body>
</html>