<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Task Card</title>
  </head>
  <body class="p-6">
    <!-- Task Card  -->
    <div class=" p-3 bg-white rounded-2 ">
      <div class="d-flex justify-between align-center m-3-b">
        <h5 class="fw-lg fs-sm line-height-1 letter-spacing-sm highlight">Illustration</h5>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="cursor-pointer"
        >
          <circle cx="6" cy="12" r="2" fill="#A8B5CB" />
          <circle cx="12.4001" cy="12" r="2" fill="#A8B5CB" />
          <circle cx="18.8001" cy="12" r="2" fill="#A8B5CB" />
        </svg>
      </div>
      <p class="fs-md letter-spacing-sm line-height-5 m-5-b">Membuat konsep ilustrasi untuk halaman homepage dan about us</p>
      <div class="d-flex justify-between">
       <div class="d-flex ">
        <div class="d-flex align-center gap-md m-6-r cursor-pointer">
            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.63333 0.666667C7.55412 0.278611 7.21272 0 6.81667 0H0.833333C0.373096 0 0 0.373096 0 0.833333V13.3333C0 13.7936 0.373096 14.1667 0.833333 14.1667C1.29357 14.1667 1.66667 13.7936 1.66667 13.3333V8.33333H6.33333L6.53333 9.33333C6.60895 9.72355 6.95254 10.004 7.35 10H11.6667C12.1269 10 12.5 9.62691 12.5 9.16667V2.5C12.5 2.03976 12.1269 1.66667 11.6667 1.66667H7.83333L7.63333 0.666667Z" fill="#C4CAD3"/>
                </svg>
                
          <span> Nov 24 </span>
        </div>
        <div class="d-flex align-center gap-md cursor-pointer">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 14V1.55556C0 0.696446 0.696446 0 1.55556 0H12.4444C13.3036 0 14 0.696446 14 1.55556V9.33333C14 10.1924 13.3036 10.8889 12.4444 10.8889H4.66667C4.32999 10.8883 4.0023 10.9975 3.73333 11.2L0 14ZM1.55556 1.55556V10.8889L3.21533 9.64445C3.48417 9.44169 3.81194 9.33243 4.14867 9.33333H12.4444V1.55556H1.55556Z"
              fill="#C4CAD3"
            />
            <path
              d="M0.777802 0.77771H13.2222V10.111H2.85188L0.777802 12.1851V0.77771Z"
              fill="#C4CAD3"
            />
          </svg>
          <span>2</span>
        </div>
       </div>
        <img src="../assets/images/karen-sm.svg" alt="Karen">
      </div>
    </div>
  </body>
</html>
