.stick{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 4px;
        height: 100px;
        background-color: #fff;
    }
}